<html>
<head>
<meta charset="utf-8">
<title>Mocha Tests</title>
<link rel="stylesheet" href="/test/mocha.css" />
<% cssFiles.forEach(function(file) { %>
  <link rel="stylesheet" href="<%= file %>" />
<% }); %>
</head>
<body>

<%- body %>

<div id="mocha"></div>

<script src="/test/mocha.js"></script>
<script src="/test/chai.js"></script>
<% libFiles.forEach(function(file) { %>
    <script src="<%= file %>"></script>
<% }); %>
<% srcFiles.forEach(function(file) { %>
    <script src="<%= file %>"></script>
<% }); %>
<script>mocha.setup('bdd')</script>
<% testFiles.forEach(function(file) { %>
    <script src="<%= file %>"></script>
<% }); %>
<script>
expect = chai.expect;
mocha.checkLeaks();
mocha.globals(<%- globals %>);
mocha.run();
</script>

</body>
</html>
